header{
    flex-direction: st;
}

 .navbar {
      position: sticky;
      top: 0;
      background-color: #333;
      padding: 10px 20px;
      color: white;
      z-index: 1000;
    }


@media (max-width: 768px) {


    main {
        flex-direction: column;
    }

    .content-item {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 600px) {


    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }


    body {
        background-color: #e0f7fa;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .burger {
        display: flex;
    }
}